body {
    margin: 0;
    text-align: center;
}

.container {
    width: 550px;
    height: 729px;
    margin: 0 auto;
    position: relative;
    background-color: whitesmoke;
}

.metric-section {
    width: 550px;
    height: 285px;
    background-color: #6943FF;
    border-radius: 10px 10px 0 0;
}

h1 {
    width: 448.3999938964844;
    height: 38;
    position: absolute;
    top: 33px;
    left: 51px;
    opacity: 1;
    color: white;
}

#convert-input {
    width: 117px;
    height: 83px;
    position: absolute;
    top: 101px;
    left: 217px;
    opacity: 1;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #6943FF;
    color: white;
    font-weight: 800;
    font-family: Inter;
    font-style: Extra Bold;
    font-size: 58px;
    line-height: 24.39px;
    letter-spacing: 0%;
    text-align: center;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#convert-btn {
    width: 117PX;
    height: 42PX;
    position: absolute;
    top: 209px;
    left: 217px;
    opacity: 1;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: black;
    outline: none;
    border: none;
}

.section {
    width: 500px;
    height: 108.57313537597656px;
    opacity: 1;
    border-top-left-radius: 4.68px;
    background-color: #FFFFFF;
    /* padding: 5px 20px; */
}

.length {
    position: absolute;
    top: 321px;
    left: 25px;
}

.volume {
    position: absolute;
    top: 453px;
    left: 25px;
}

.mass {
    position: absolute;
    top: 585px;
    left: 25px;
}

.conversion-section {
    border-radius: 0 0 10px 10px;
}
